<h3>$i18n.getString( "lock_exception_management" )</h3>

<div align="left"><h3>$message</h3></div>

<p>
	<input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='advanceLockException.action'" style="width:100px" />
</p>