
<h3>$i18n.getString( "data_entry_form_status" ) View DataElements in DataEntry Screen</h3>
<hr />

<form id="generateDataEntryStatusForm" name="generateDataEntryStatusForm">
    <table  style="border-collapse: collapse; margin-top: 0;" cellpadding="0" cellspacing="0" width="80%" border="0">
        <tr>
            <td class="NormalB">
                1. $i18n.getString( "Dataset List" ) : <br/><br/>
                <select id="selectedDataSets" name="selectedDataSets" style="width:200px">
					<option value="-1">[$i18n.getString( "select" )]</option>
                    #foreach ( $dataSet in $dataSetList )
                        <option value='$dataSet.id' title='$dataSet.name'>$dataSet.name</option>
                    #end
                </select>
            </td>
		</tr>
		
		<tr><td> &nbsp;</td></tr>
        <tr><td> &nbsp;</td></tr>
		  
		<tr>
			<td class="NormalB">
				<input type="button" name="viewDataElements" value="View DataElements" style="width:200px;height:30px;font-family: Arial; font-weight: bold; color: rgb(0, 0, 0);" onclick="generateResult('viewDataElements')"/>
			</td>			
	   </tr>
	   <input type="hidden" name="selectedButton" id="selectedButton"/>
    </table>
</form>

<!--<div id="contentDiv"></div>-->

#parse( "/dhis-web-commons/loader/loader.vm" )

<script>
   
</script>